@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Main page style */

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Fira Sans';
    margin: 0;
    background-color: #DDA0DD;
}

/* Header and footer style*/

header {
    text-align: center;
    height: 75px;
    font-size: 25px;
    /*Trying to create a solid bottom border underneath the heading */
    border-bottom: black 5px;
}

.sub-heading {
    text-align: center;
    height: 75px;
    font-size: 20px;
    padding-bottom: 2%;
}


footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 2px;
    text-align: center;
    color: black;
    background-color: #DDA0DD;
}

footer p {
    /* need to find the correct rule in order to create a box around the rules*/
    border-width: 5px;
    border-style: dotted;
    border-color: black;
}

/* Game Area*/

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    text-align: center;
    height: 80%;
}

.choice {
    display: inline-block;
    margin: 4%;
    width: 100px;
    height: 40px;
}

button:hover {
    background-color:skyblue;
}

.player {
    background-color: #B4A0DD;
    float: left;
    width: 45%;
}

#player-image {
    width: 90%;
    margin-bottom: 40%;
}

.computer {
    background-color: #A0DDA0;
    float: right;
    width: 45%;
}

#computer-image {
    width: 90%;
    margin-bottom: 40%;
}